pep_ssl_server_capath /etc/grid-security/certificates/
pep_ssl_client_cert /etc/grid-security/condorcert.pem
pep_ssl_client_key /etc/grid-security/condorkey.pem
pep_url https://{{ htcondor_ce_argus_server }}:{{ htcondor_ce_argus_port }}/authz
pep_timeout 30 # seconds
xacml_resourceid {{ htcondor_ce_argus_resourceid }}
