{% if htcondor_ce_job_routes | length > 0 %}
JOB_ROUTER_ENTRIES @=jre
{% for item in htcondor_ce_job_routes %}
[
    GridResource = "batch slurm";
    TargetUniverse = 9;
    name = "{{ item.name }}";
{% if item.requirements is defined and item.requirements | length > 0 %}
    Requirements = {{ item.requirements }};
{% endif %}
{% if item.nodeNumber is defined %}
    # see /usr/share/condor-ce/condor_ce_router_defaults this defaults to xcount, which is 8 for cms, i.e. 8 cores, and should be 1 node
    eval_set_remote_NodeNumber = {{ item.nodeNumber }};
{% endif %}
    set_default_queue = "{{ item.queue }}";
{% if item.maxWallTime is defined %}
    # the default JOB_ROUTER_DEFAULTS will interpret this in minutes and set the remote_cerequirements variable
    # Run condor_ce_config_val JOB_ROUTER_DEFAULTS | sed 's/;/;\n/g' for more information
    set_default_maxWallTime = {{ item.maxWallTime }};
{% endif %}
{% if item.cores is defined %}
    set_default_xcount = {{ item.cores }};
{% endif %}
{% if item.maxMemory is defined %}
    set_default_maxMemory = {{ item.maxMemory }};
{% endif %}
{% if item.jobDirectory is defined %}
    set_remote_JobDirectory = {{ item.jobDirectory }};
{% endif %}
]
{% endfor %}
@jre
{% endif %}