{{ ansible_managed | comment }}
#
# cleanup-grid-accounts.conf
#
# this file is sourced by cleanup-grid-accounts.sh (option "-c")

# by default the list of pool accounts named in the gridmapdir;
# any non-empty string overrides the default list:
# ACCOUNTS=

# directory naming the grid accounts to be cleaned up;
# by default the gridmapdir (option "-d"):
# DIR=

# list of extra (e.g. "sgm") accounts to be cleaned up (option "-e"):
# EXTRA=

# "true" to force cleanup of non-local directories (option "-F"):
# FORCE=false

# maximum idle time (in days) of any grid account file or subdirectory,
# before it will be cleaned up (option "-i"):
# IDLE=15

# minimum value for the "IDLE" parameter (safeguard):
# IDLE_MIN=7

# minimum value for a grid account UID (safeguard):
# UID_MIN=100
{% if poolaccounts_cleanup_uid_min | default(0) > 0 %}
UID_MIN={{ poolaccounts_cleanup_uid_min }}
{% endif %}

# "true" if a verbose log is wanted (option "-v"):
# VERBOSE=false
{% if poolaccounts_cleanup_verbose | default(false) %}
VERBOSE=true
{% endif %}
