# Based on https://twiki.cern.ch/twiki/bin/view/LCG/WLCGvoboxDeployment#EL9_instructions

#############################################################################
GROUPS_CONF=/root/groups.conf
USERS_CONF=/root/users.conf

SITE_NAME={{ vobox_sitename }}

OPEN_VOBOX_PORT=yes

VOBOX_HOST={{ vobox_host | default(inventory_hostname) }}
PX_HOST=myproxy.cern.ch

CONFIG_USERS={{ (vobox_create_user | bool) | ternary('yes','no') }}

VOS="{{ vobox_vo }}"

{% if vobox_account.mappings | length > 0 %}
VO_ALICE_GRID_MAPFILE_LOCAL='
{% for mapping in vobox_account.mappings | default([]) %}
"{{ mapping }}" {{ vobox_account.name }}
{% endfor %}
'
{% endif %}
