agingtolerance = {{ grid_fetchcrl_options['agingtolerance'] |default(24) }}
{% if grid_fetchcrl_options['nosymlinks'] |default(true) %}
nosymlinks
{% endif %}
{% if grid_fetchcrl_options['nowarnings'] |default(true) %}
nowarnings
{% endif %}
{% if grid_fetchcrl_options['noerrors'] |default(false)  %}
noerrors
{% endif %}
{% if grid_fetchcrl_options['http_proxy'] |default('') != '' %}
http_proxy = {{ grid_fetchcrl_options['http_proxy'] }}
{% endif %}
httptimeout = {{ grid_fetchcrl_options['httptimeout'] |default(30) }}
parallelism = {{ grid_fetchcrl_options['parallelism'] |default(4) }}
logmode = {{ grid_fetchcrl_options['logmode'] |default('syslog') }}
{% if grid_fetchcrl_options['cache_control_request'] |default(3600) > 0 %}
cache_control_request = {{ grid_fetchcrl_options['cache_control_request'] |default(3600) }}
{% endif %}
