# globus-gridftp-server configuration file

# this is a comment

# option names beginning with '$' will be set as environment variables, e.g.
# $GLOBUS_ERROR_VERBOSE 1
# $GLOBUS_TCP_PORT_RANGE
# port
port 2811
port_range {{ role_gridftp_port_start}},{{ role_gridftp_port_end }}
{% if role_gridftp_datainterface is defined and role_gridftp_datainterface | length > 0  %}
data_interface {{ role_gridftp_datainterface }}
{% endif %}
log_level ALL
log_single /var/log/gridftp/gridftp-auth.log
log_transfer /var/log/gridftp/gridftp.log
log_module stdio_ng
