---
- name: voms | Install VOMS (except belle) files
  ansible.builtin.package:
    state: installed
    name: "wlcg-iam-vomses-{{ item }}"
  loop: "{{ grid_vos }}"
  when: item in ['alice', 'atlas', 'cms', 'dteam', 'lhcb', 'ops']

- name: voms | Install VOMS ALL (belle)
  ansible.builtin.package:
    state: installed
    name: "desy-voms-all"
  when: "'belle' in grid_vos"

- name: voms | Install VOMS LSC files
  ansible.builtin.package:
    state: installed
    name: "wlcg-iam-lsc-{{ item }}"
  loop: "{{ grid_vos }}"
  when: item in ['alice', 'atlas','dteam', 'cms', 'lhcb', 'ops']

- name: voms | Ensure vomsdir exists
  ansible.builtin.file:
    path: /etc/grid-security/vomsdir/belle
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: voms | Write non-packaged LSC files
  ansible.builtin.copy:
    dest: '/etc/grid-security/vomsdir/belle/{{ item.filename }}'
    content: '{{ item.content }}'
    owner: root
    group: root
    mode: '0644'
  loop:
    - filename: belle-auth.cc.kek.jp.lsc
      content: |
        /C=JP/O=KEK/OU=CRC/CN=belle-auth.cc.kek.jp
        /C=JP/O=KEK/OU=CRC/CN=KEK GRID Certificate Authority2024
    - filename: voms.cc.kek.jp.lsc
      content: |
        /C=JP/O=KEK/OU=CRC/CN=voms.cc.kek.jp
        /C=JP/O=KEK/OU=CRC/CN=KEK GRID Certificate Authority2024
